:root {
  --rojo: #E50914;
  --fondo: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #FFF;
}
main{
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: start;
}
main .btn{
 margin-top: 3vh;
}

.btn{
background-color:transparent;
border: none;
margin: 1vh;
cursor: pointer;}

.btn img:hover{
height:3vh;

}


.container{
  text-align: center;
  margin: auto;
  display: block;
  color: white;
}
.container label{
  margin-bottom: 1vh;
  text-align: center;
  display: block;
}
.cont-title{
  margin-top:5vh;
  margin-bottom: 5vh;
}
.form-select{
  margin-bottom: 3vh;
}
/* Estilos para las tarjetas */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  max-width: 200px;
  margin: 16px;
  background-color: #192734;
  color: white;
  transition: transform 0.2s;
 
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 60%;
  border-radius: 4px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2em;
  margin-top: 8px;
}
select{
  height: 3vh;
  background-color: transparent;
  color: white;
  border-radius: 5px;
}
option{
  height: 3vh;
  background-color: black;
  color: white;
  border-radius: 5px;
}



/* Responsivo */
@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #646cff;
  outline: none;
  box-shadow: 0 2px 4px rgba(100,108,366,0.5);
}
